dadasnake
dadadb
dada_env/
dada_env_new/
dada_env_common/
dada_env_common_2/
dada_env_test/
testoutput/
test_output/
test.*
snakemake_env/
conda/
.conda/
TESTRUN_*
aux/config.default.yaml
auxiliary_files/config.default.yaml
auxiliary_files/config.tmp.yaml
config/config.default.yaml
.snakemake/
dadasnake_initialized/
*.stderr
*.stdout
dadasnake_output
config/backup-config.RAM_16S.yaml
.Rproj.user
workflow/scripts/scripts.Rproj
workflow/scripts/.Rhistory
